*{
    font-family: 'Roboto', sans-serif;
}
body{
    background: linear-gradient(225deg, #FF3CAC 0%, #784BA0 31%, #2B86C5 100%);
    min-height: 100vh;
}

h1{
    color:white;
}

.list{
    color:white;
}
button{
    background: url(arrow.svg);
    height: 30px;
    width: 30px;
    color: white;

    border-radius: 25px;
  border: 2px solid #73AD21;
}